.testimonial-section{
    margin-top: 125px;
    margin-bottom: 100px;
}
.testimonial-section__wrapper{
    width: 100%;
    height: 730px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    background-color: brown;
}