
$color-Deluge: #757095;
$color-white:#FFF;
$color-basic-blue:#5D5FEF;
$color-icon-background-light-blue:#E9ECF2;
$color-border-sky: #DEE1E6;
$color-border-lightest-blue: #E5E5EA;
$color-box-shadow-light-blue: #f0f0f0;
$color-dark-ocean-blue:#1b1c31;
$color-neon-blue: #00E1F0;
$color-whittish:#F9F9F9;
$color-orange: #FF7F5C;
$color-sky:#3498db;


$text-light:#000;
$text-light-blue: #64607D;
$text-color-darkest-blue: #181433;


$border-color-grey:#F8F9FD;
$border-color-white:#ccc;