@use "../../styles/color" as *;

.hero-section-wrapper {
  display: flex;
  height: 755px;
  width: 100%;
}

.hero-section-wrapper__text {
  flex: 1;
  margin-top: 122px;
  margin-left: 125px;
}

.hero-section-wrapper__text--first-para {
  width: 437px;
  height: 37px;
  color:$text-light;
  font-family: Gilroy-SemiBold;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero-section-wrapper__text--middle {
  width: 646px;
  height: 240px;
  color: $text-light;
  font-family: Manrope;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -1.8px;
}
.hero-section-wrapper__text--last-para {
  width: 569px;
  height: 109px;
  color: $color-Deluge;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; 
  letter-spacing: -0.4px;
}

.hero-section-wrapper__image {
  position:relative;
  top:0;
  width:100%;
  height:700px;
  background: url("/images/hero-img.png") right bottom/cover;
}

.hero-section-wrapper_email-sender {
  width: 622px;
  height: 100px;
  display: flex;
  background-color: $color-white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.hero-section-wrapper_email-sender:hover {
  background-color: $color-box-shadow-light-blue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-section-wrapper_email-sender--normal-text {
  color: $text-light;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
  opacity: 0.4;
  margin-top: 27px;
  margin-left: 24px;
}
.hero-section-wrapper_email-sender--bold-text {
  color: $text-light;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.6;
  margin-bottom: 18px;
  margin-left: 24px;
}
.hero-section-wrapper_email-sender--button {
  width: 211px;
  height: 65px;
  flex-shrink: 0;
  color:$color-white;
  background: var(--Pallet-1-Dark, $color-dark-ocean-blue);
  margin:19px 20px 16px 125px;
}

@media only screen and (max-width: 768px){
 .hero-section-wrapper{
  flex-direction: row;
  height: 600px;
  overflow: hidden;
 }
 .hero-section-wrapper__text{
  text-align: left;
 }
 .hero-section-wrapper__text--first-para{
  width:100%;
  height:20px;
  font-size: 16px;
 }
 .hero-section-wrapper__text--middle{
  width:80%;
  height: auto;
  font-size: 40px;
  line-height: 50px;
 }
 .hero-section-wrapper__text--last-para{
  width:80%;
  height:auto;
 }
 .hero-section-wrapper_email-sender{
  width:450px;
  height: 75px;
  padding: 7px;
 }
 .hero-section-wrapper_email-sender--normal-text {

  font-size: 10px;
  letter-spacing: 0.10px;
  margin-top: 20px;
}
.hero-section-wrapper_email-sender--bold-text {

  font-size: 20px;
}
.hero-section-wrapper_email-sender--button {
  width: 180px;
  height: 50px;
  margin:19px 20px 16px 20px;
}

}