.main-div{
    margin:0 auto;
    height:237px;
    display: block;
}
.logos{
    text-align: center;
    align-items: center;
}
.logos--logoItem {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 49.55px;
}

@media only screen and (max-width: 1024px) {
    .logos{
        margin:0 auto;
    }
    .logos--logoItem {
        margin-left: 28px;
    }
}
@media only screen and (max-width: 768px) {
    .logos{
        margin:0 auto;
    }
    .logos--logoItem {
        margin-left: 15px;
        width:50px;
        height: 50px;
    }
}
