.testimonial-section__image{
    width:400px;
    height: 530px;    
    z-index: 1;
    position: absolute;
    top:60px;
    left:120px;
}
.testimonial-section__slide-background{
    width:400px;
    height:450px;
    background-color: #C4C4C4;
    position: absolute;
 z-index: -1;
}
@media (max-width:768px){
    .testimonial-section__image {
        width: 100%; 
        max-width: none; 
        height: auto; 
        position: relative; 
        top: 0; 
        left: 0; 
    }
    
    .testimonial-section__slide-background {
        width: 100%; 
        height: auto;
        max-width: none;
        position: relative; 
        z-index: -1;
    }
}