.testimonial-section__review-slide{
position: absolute;
top:200px;
left:65px;
}

p{
    color: var(--Pallet-1-Dark, #1B1C31);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 41px; 
letter-spacing: -0.6px;
}
@media (max-width:768px) {
    .testimonial-section__review-slide {
        position: relative;
        top: 20px; 
        left: 0; 
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 60px;
    }
    .testimonial-section__review-slide p {
        font-size: 18px; 
        line-height: 28px; 
        letter-spacing: -0.3px;
    }
    
}