.testimonial-section__review-slide{
position: absolute;
top:200px;
left:65px;
}

p{
    color: var(--Pallet-1-Dark, #1B1C31);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 41px; 
letter-spacing: -0.6px;
}