@use "../../styles/color" as *;
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1200px;
    height:52px;
    margin:0px 117px 0px 120px;
    padding-top:23px;
    padding-left: 0px;
    // margin: auto;
  
    &__logo {
      color: $TextColor;
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
    }  
    &__link {
      margin:auto;
      color: $TextColor;
      text-align: center;
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-left: 20px; 
      text-decoration: none; 
    }
    .navbar__button{      
      color: $TextColor;
      text-decoration: none; 
      .navbar__button--signIn{
        margin-right: 49px;
        color: $TextColor;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border:none;
      }
      .navbar__button--startFree{
        width: 137px;
        height: 52px;
        color: #FFF;
        text-align: center;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        flex-shrink: 0;
        background-color: $buttonColor1;
        border-radius: 10px;
        text-decoration: none;
        display: inline-block;
        border: none;

        &:hover {
          background-color: darken($buttonColor1, 10%);
        }
      }

    }

  }
  