.offened-section{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.offened-section__wrapper{
    width: 100%;
    max-width: 1200px;
    height: 355px;
    margin: 0 auto;
    display: flex;
}

@media only screen and (max-width: 768px) {
    .offened-section__wrapper {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-between;
        height:auto;
      }
}
