
.custom-prev-arrow,
.custom-next-arrow {
  cursor: pointer;
  width:70px;
  height: 70px;
}
 @media (max-width:768px) {
  .custom-prev-arrow,
.custom-next-arrow {
  cursor: pointer;
  width:50px;
  height: 50px;
}
 }