@use "../../styles/color" as *;

.help-section {
    // width: 0 auto;
    height: 1450px;
    margin-top: 100px;
    overflow: hidden;
}
.help-section__relative {
    position: relative;
}
.help-section__background--wave {
    position: absolute;
    top: 240px;
    height: 1100px;
}
.help-section__box-part {
    overflow: hidden;
    width: 830px;
    height: 400px;
    position: absolute;
    top: 12px;
    left: 305px;
    border-radius: 12px;
    background: url("/images/helpSection/handshake.jpg") center/cover;
    // background-color: brown;
}
.help-section__box-part::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 12px;
    background: #16012c;
}
.help-section__box-part p {
    position: absolute;
    color: $color-white;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.4px;
    z-index: 1;
}
.help-section__box-part--p1 {
    top: 175px;
    left: 145px;
}
.help-section__box-part--p2 {
    top: 205px;
    left: 200px;
}
.help-section__box-part--header {
    position: absolute;
    width: 615px;
    height: 60px;
    top: 100px;
    left: 110px;
    color: $color-white;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -1.26px;
    z-index: 1;
}
.help-section__box-part button {
    position: absolute;
    top: 255px;
    left: 335px;
    width: 162px;
    height: 47px;
    flex-shrink: 0;
    color: $color-white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.32px;
    background-color: $color-orange;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    outline: none;
    z-index: 1;
}
.help-section--div{
    padding-top: 750px;
}
.help-section__cards {  
     display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto; 
    max-width: 1200px; 
}

.help-section__cards--one,
.help-section__cards--two,
.help-section__cards--three {
    flex: 1 0 calc(33.33% - 20px); 
    margin-bottom: 20px; 
}
// .help-section__cards {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between; 
// }
// .help-section__cards--one {
//     position: absolute;
//     top: 740px;
//     left: 130px;
// }
// .help-section__cards--two {
//     position: absolute;
//     top: 740px;
//     left: 550px;
// }
// .help-section__cards--three {
//     position: absolute;
//     top: 740px;
//     left: 950px;
// }
.help-section__text--bold {
    position: absolute;
    color: $text-light;
    font-size: 42px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: -1.26px;
    top: 535px;
    left: 395px;
}
.help-section__text--para {
    position: absolute;
    color: #64607d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.4px;
    top: 610px;
    left: 470px;
}
.help-section__text--tilted {
    position: absolute;
    color: #64607d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.4px;
    top: 640px;
    left: 520px;
}
.help-section__text--button {
    position: absolute;
    top: 1135px;
    left: 590px;
    width: 259px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #5d5fef;
    color: $color-white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: #4454ca;
    }
}
@media only screen and (max-width: 768px) {
    .help-section{
        margin-top:0px;
        height: auto;
        overflow: hidden;
        display: block;
    }
    .help-section__background--wave {
        position: absolute;
        max-width: 100%;
        height: auto;
        top: 110px;
        
    }
    .help-section__box-part {
        overflow: hidden;
        width: 250px;
        height: 140px;
        position: absolute;
        top: 2px;
        left:20%;
        // margin-left:auto;
        border-radius: 8px;
     }
     .help-section__box-part p {
        position: absolute;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.2px;
        z-index: 1;
    }
    .help-section__box-part--p1 {
        top: 55px;
        left: 0px;
    }
    .help-section__box-part--header {
        position: absolute;
        width: 100%;
        height: 20px;
        top: 30px;
        left: 10px;
        font-size: 18px;
        line-height: 20px;
    }
    .help-section__box-part button {
        position: absolute;
        top: 100px;
        left: 65px;
        width: 100px;
        height: 20px;     
        font-size: 10px;
        line-height: 12px;
        border-radius: 16px;
    }
    .help-section--div{
        padding-top: 280px;
    }
    .help-section__cards {
        display:flex;
        justify-content: center; 
      }
    
      .help-section__cards--one,
      .help-section__cards--two,
      .help-section__cards--three {
        width: 100%; 
        margin-bottom: 20px; 
      }
      .help-section__text--bold {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -1.26px;
        top: 160px;
        left: 50px;
    }
    .help-section__text--para {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.4px;
        top: 190px;
        left: 70px;
    }
    .help-section__text--tilted {
        font-size: 12px;
        line-height: 24px;
        letter-spacing: -0.4px;
        top: 200px;
        left: 90px;
    }
    .help-section__text--button {
        position: absolute;
        top: 230px;
        left: 120px;
        width: 150px;
        height: 30px;
        border-radius: 10px;
        text-align: center;
        font-size: 10px;
    }
}